*{
	margin: 0;
	padding: 0;
}
nav{
	display: grid;
	grid-template-rows: 20% repeat(4, 10%) auto 10%;
	background: #00A8C6;
	position: fixed;
	width: 22%;
	height: 100%;
	box-shadow: inset -5px 0px 5px 0px #333;
}
.avatar{
	display: grid;
	grid-template-areas:
	"img div1"
	"img div2";
	text-align: center;
	color: white;
}
.avatar a{
	grid-area: img;
	align-self: center;
	justify-self: center;
}
.div1{
	grid-area: div1;
	align-self: end;
	font-family: "Comic Sans MS";
}
.div2{
	grid-area: div2;
	font-family: "century gothic";
}
.avatar img{
	height: 14vh; 
	width: 14vh;
	border-radius: 50%;
}
nav .link{
	text-decoration: none;
	color: lightgray;
	transition: color 0.3s;
	font-family: "Comic Sans MS";
}
nav .link:hover{
	color: white;
}
nav .menu{
	text-align: right;
	padding-right: 5%;
	font-size: 30px;
	background: #00A8C6;
	transition: background 0.5s;
	box-shadow: inset -5px 2px 5px 0px #333;
}
nav .menu1{
	box-shadow: inset -5px 2px 5px 0px #333;
}
nav .menu:hover{
	background: #007e94;
}
.icons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-content: center;
}
.icons a{
	opacity: .3;
	transition: opacity 0.3s;
	justify-self: center;
}
.icons a:hover{
	opacity: 1;
}
.icons img{
	width: 4vh;
	height: 4vh;
}




header{
	width: 78%;
	float: right;
}
header .sha1{
	width: 100%;
}



article{
	width: 78%;
	float: right;
}
article h2{
	text-align: center;
	color: deepskyblue;
	font-size: 50px;
	font-family: "Comic Sans MS";	
	margin: 2%;
}
article .intro{
	font-size: 28px;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-family: "Comic Sans MS";
}


.galgrid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.galgrid > div{
	display: grid;
	grid-template-rows: repeat(3, auto);
	text-align: center;
}
.galgrid > div > img{
	margin: 5% auto;
	width: 75%;
	border-radius: 20px;
	transition: transform .5s, box-shadow .5s;
}
.galgrid > div > img:hover{
	transform: scale(1.5);
	box-shadow: 0px 0px 20px 5px grey;
}
.galdiv{
	font-size: 22px;
	margin-left: 5%;
	margin-right: 5%;
	font-family: "Comic Sans MS";
}
.divlink{
	text-align: center;
	margin-top: 1%;
}
.link1{
	font-size: 22px;
	text-decoration: none;
	font-family: "Comic Sans MS";
	color: deepskyblue;
	opacity: .5;
	transition: opacity 0.3s;
}
.link1:hover{
	opacity: 1;
}


fieldset{
	float: left;
	border-radius: 20px;
	padding: 2%;
	margin-left: 5%;
	margin-bottom: 5%;
}
input{ 
	border-radius: 20px;
	width: 100vh;
	height: 8vh;
	margin-bottom: 5%;
	float: right;
	text-align: center;
    font-size: 24px;
    outline: none;
}
textarea{
	border-radius: 20px;
	width: 98vh;
	max-width: 98vh;
	max-height: 50vh;
	font-size: 16px;
	padding: 1%;
	margin-bottom: 2%;
	outline: none;
}
button{
	display: block;
	width: 25%;
	height: 5vh;
	border-radius: 20px;
	border: 1px black solid;
	background: white;
	margin: 0 auto;
	outline: none;
	font-size: 20px;
	font-family: "Comic Sans MS";
	transition: background 0.5s;
}
button:hover{
	background: paleturquoise;
}
